<div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search product ..." required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a routerLink=''>Home</a>
                        </li>
                        <li>
                            <a>Shop</a>
                            <ul>
                                <li><a>Shop List</a></li>
                                <li><a>Shop Grid 2 Columns</a></li>
                                <li><a>Shop Grid 3 Columns</a></li>
                                <li><a>Shop Grid 4 Columns</a></li>
                                <li><a><span>Shop Boxed No Sidebar<span class="tip tip-hot">Hot</span></span></a></li>
                                <li><a>Shop Fullwidth No Sidebar</a></li>
                                <li><a>Product Category Boxed</a></li>
                                <li><a><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                                <li><a>Cart</a></li>
                                <li><a>Checkout</a></li>
                                <li><a>Wishlist</a></li>
                                <li><a>Lookbook</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="sf-with-ul">Product</a>
                            <ul>
                                <li><a>Default</a></li>
                                <li><a>Centered</a></li>
                                <li><a><span>Extended Info<span class="tip tip-new">New</span></span></a></li>
                                <li><a>Gallery</a></li>
                                <li><a>Sticky Info</a></li>
                                <li><a>Boxed With Sidebar</a></li>
                                <li><a>Full Width</a></li>
                                <li><a>Masonry Sticky Info</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Pages</a>
                            <ul>
                                <li>
                                    <a>About</a>

                                    <ul>
                                        <li><a>About 01</a></li>
                                        <li><a>About 02</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>Contact</a>

                                    <ul>
                                        <li><a>Contact 01</a></li>
                                        <li><a>Contact 02</a></li>
                                    </ul>
                                </li>
                                <li><a>Login</a></li>
                                <li><a>FAQs</a></li>
                                <li><a>Error 404</a></li>
                                <li><a>Coming Soon</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Blog</a>

                            <ul>
                                <li><a>Classic</a></li>
                                <li><a>Listing</a></li>
                                <li>
                                    <a>Grid</a>
                                    <ul>
                                        <li><a>Grid 2 columns</a></li>
                                        <li><a>Grid 3 columns</a></li>
                                        <li><a>Grid 4 columns</a></li>
                                        <li><a>Grid sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>Masonry</a>
                                    <ul>
                                        <li><a>Masonry 2 columns</a></li>
                                        <li><a>Masonry 3 columns</a></li>
                                        <li><a>Masonry 4 columns</a></li>
                                        <li><a>Masonry sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>Mask</a>
                                    <ul>
                                        <li><a>Blog mask grid</a></li>
                                        <li><a>Blog mask masonry</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>Single Post</a>
                                    <ul>
                                        <li><a>Default with sidebar</a></li>
                                        <li><a>Fullwidth no sidebar</a></li>
                                        <li><a>Fullwidth with sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>Elements</a>
                            <ul>
                                <li><a>Products</a></li>
                                <li><a>Typography</a></li>
                                <li><a>Titles</a></li>
                                <li><a>Banners</a></li>
                                <li><a>Product Category</a></li>
                                <li><a>Video Banners</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End .mobile-nav -->
            </div>
            <!-- .End .tab-pane -->
            <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                <nav class="mobile-cats-nav">
                    <ul class="mobile-cats-menu">
                        <li><a class="mobile-cats-lead">Daily offers</a></li>
                        <li><a class="mobile-cats-lead">Gift Ideas</a></li>
                        <li><a>Beds</a></li>
                        <li><a>Lighting</a></li>
                        <li><a>Sofas & Sleeper sofas</a></li>
                        <li><a>Storage</a></li>
                        <li><a>Armchairs & Chaises</a></li>
                        <li><a>Decoration </a></li>
                        <li><a>Kitchen Cabinets</a></li>
                        <li><a>Coffee & Tables</a></li>
                        <li><a>Outdoor Furniture </a></li>
                    </ul>
                    <!-- End .mobile-cats-menu -->
                </nav>
                <!-- End .mobile-cats-nav -->
            </div>
            <!-- .End .tab-pane -->
        </div>
        <!-- End .tab-content -->

        <div class="social-icons">
            <a class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div>
        <!-- End .social-icons -->
    </div>
    <!-- End .mobile-menu-wrapper -->
</div>