<main class="main">
    <owl-carousel-o [options]="customOptionshome" class="">
        <ng-container>
            <ng-template carouselSlide>
                <div class="intro-slide" style="background-image: url(assets/images/homeCarousel.jpg);">
                    <div class="container intro-content">
                        <h3 class="intro-subtitle">Timely Treatment of joint problems can save you<br> old age worries</h3>
                        <br>
                        <h5 class="intro-subtitle" style="font-size: 100%;">Protect your joints, Start ayurvedic treatment</h5>
                        <!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title">Joint Pain</h1>
                        <!-- End .intro-title -->

                        <a routerLink="" class="btn btn-primary">
                            <span>Consult a life aveda Doctor</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>
                    <!-- <div class="reply" style="position: absolute;right: 40px; background-color: rgba(253, 250, 250, 0.774);">
                        <div class="heading">
                            <h3 class="title">43,123 <span style="font-weight:300;">Joint problems treatments successful</span></h3>
                            <h4 style="font-weight:400; font-size: 100%;"></h4>
                            <p style="color: rgb(20, 19, 19);">Joint pain may affect your joint's health <br> and can stop you from performing day to day life</p>

                            <form action="#">

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="reply-name" class="sr-only">Name</label>
                                        <input type="text" class="form-control" id="reply-name" name="reply-name" required="" placeholder="Name *">
                                    </div>

                                    <div class="col-md-6">
                                        <label for="reply-email" class="sr-only">Email</label>
                                        <input type="email" class="form-control" id="reply-email" name="reply-email" required="" placeholder="Email *">
                                    </div>
                                </div>
                                <label for="reply-message" class="sr-only">Comment</label>
                                <textarea name="reply-message" id="reply-message" cols="30" rows="4" class="form-control" required="" placeholder="Comment *"></textarea>


                                <button type="submit" class="btn btn-primary" style="background-color: #a6c76c;">
                                <span>BOOK APPOINTMENT</span>
                                <i class="icon-long-arrow-right"></i>
                            </button>
                            </form>
                        </div>
                    </div> -->
                </div>


            </ng-template>
            <ng-template carouselSlide>
                <div class="intro-slide" style="background-image: url(assets/images/demos/demo-2/slider/slide-2.jpg);">
                    <div class="container intro-content">
                        <h3 class="intro-subtitle">Deals and Promotions</h3>
                        <!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title">Ypperlig <br>Coffee Table <br><span class="text-primary"><sup>$</sup>49,99</span></h1>
                        <!-- End .intro-title -->

                        <a class="btn btn-primary" routerLink="">
                            <span>Shop Now</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>
                    <!-- End .container intro-content -->
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="intro-slide" style="background-image: url(assets/images/demos/demo-2/slider/slide-3.jpg);">
                    <div class="container intro-content">
                        <h3 class="intro-subtitle">Living Room</h3>
                        <!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title">
                            Make Your Living Room <br>Work For You.<br>
                            <span class="text-primary">
                  <sup class="text-white font-weight-light">from</sup><sup>$</sup>9,99
                </span>
                        </h1>
                        <!-- End .intro-title -->

                        <a class="btn btn-primary" routerLink="">
                            <span>Shop Now</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>
                    <!-- End .container intro-content -->
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
    <!-- End .intro-slider-container -->
    <div class="container" style="margin-top:2rem">
        <div class="heading heading-center mb-3">
            <h2 class="title">Our Certifications</h2>
            <owl-carousel-o [options]="customOptionsBrand" class="">
                <ng-container>
                    <ng-template carouselSlide>
                        <a class="brand">
                            <img src="assets/images/brands/cert-1.png" alt="Brand Name">
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="brand">
                            <img src="assets/images/brands/cert-2.png" alt="Brand Name">
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="brand">
                            <img src="assets/images/brands/cert-3.png" alt="Brand Name">
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="brand">
                            <img src="assets/images/brands/cert-4.png" alt="Brand Name">
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="brand">
                            <img src="assets/images/brands/cert-5.png" alt="Brand Name">
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="brand">
                            <img src="assets/images/brands/cert-6.png" alt="Brand Name">
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="brand">
                            <img src="assets/images/brands/cert-7.png" alt="Brand Name">
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="brand">
                            <img src="assets/images/brands/cert-8.jpeg" alt="Brand Name">
                        </a>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>

    <!-- End .owl-carousel -->

    <div class="mb-3 mb-lg-5"></div>
    <!-- End .mb-3 mb-lg-5 -->


    <section class="banners center">
        <div class="container">
            <div class="row">
                <div class="banner col-lg-4 col-md-6 col-sm-6">
                    <img src="https://avedaayur.com/wp-content/uploads/2021/09/artho-aid-oil-re.jpg">
                    <div class="banner-content banner-content-top">
                        <h4 class="banner-subtitle">Clearence</h4>
                        <h3 class="banner-title">Aarogya vardhini Vati</h3>
                        <div class="banner-text">from INR 19.99</div>
                        <a class="btn btn-outline-gray banner-link" routerLink="">Shop Now<i class="icon-long-arrow-right"></i></a>
                    </div>
                </div>

                <div class="banner  col-lg-4 col-md-6 col-sm-6">
                    <img src="https://avedaayur.com/wp-content/uploads/2021/09/ashwagandha-1-1.png">
                </div>

                <div class="banner col-lg-4  col-md-6 col-sm-6">
                    <img src="https://avedaayur.com/wp-content/uploads/2021/09/arjuna.jpeg">
                    <div class="banner-content banner-content-top">
                        <h3 class="banner-title">Arjuna</h3>
                        <a class="btn btn-outline-gray banner-link" routerLink="">Shop Now<i class="icon-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <hr class="mb-4">
        <h2 class="title text-center mb-3">Experts We Have For</h2>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="banner">
                    <a href="#">
                        <img src="assets/images/banners/3cols/banner-1.jpg" alt="Banner">
                    </a>

                    <div class="banner-content">
                        <h4 class="banner-subtitle">Liver Infection, Inflammation, Cirrhosis</h4>
                        <!-- End .banner-subtitle -->
                        <h3 class="banner-title">Fatty Liver & Hepatitis</h3>
                        <!-- End .banner-title -->
                        <a href="#" class="banner-link">Click here</a>
                    </div>
                    <!-- End .banner-content -->
                </div>
                <!-- End .banner -->
            </div>
            <!-- End .col-md-6 -->

            <div class="col-md-6 col-lg-4">
                <div class="banner">
                    <a href="#">
                        <img src="https://ak.picdn.net/shutterstock/videos/1062105433/thumb/1.jpg?ip=x480" alt="Banner">
                    </a>

                    <div class="banner-content">
                        <h4 class="banner-subtitle">PCOD, Period issues, Pregnancy</h4>
                        <!-- End .banner-subtitle -->
                        <h3 class="banner-title text-white">Female Wellness</h3>
                        <!-- End .banner-title -->
                        <a href="#" class="banner-link">Click here</a>
                    </div>
                    <!-- End .banner-content -->
                </div>
                <!-- End .banner -->
            </div>
            <!-- End .col-md-6 -->

            <div class="col-md-6 col-lg-4">
                <div class="banner">
                    <a href="#">
                        <img src="assets/images/banners/3cols/banner-3.jpg" alt="Banner">
                    </a>

                    <div class="banner-content">
                        <h4 class="banner-subtitle">PME, ED, Nightfall, Low Sperm Counts</h4>
                        <!-- End .banner-subtitle -->
                        <h3 class="banner-title text-white">Male Sexual Health</h3>
                        <!-- End .banner-title -->
                        <a href="#" class="banner-link">Click here</a>
                    </div>
                    <!-- End .banner-content -->
                </div>
                <!-- End .banner -->
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="banner">
                    <a href="#">
                        <img src="assets/images/banners/3cols/banner-1.jpg" alt="Banner">
                    </a>

                    <div class="banner-content">
                        <h4 class="banner-subtitle">Rashes, Hives, Itchiness, seasonal allergy, Respiratory allergy</h4>
                        <!-- End .banner-subtitle -->
                        <h3 class="banner-title ">Allergy</h3>
                        <!-- End .banner-title -->
                        <a href="#" class="banner-link">Click here</a>
                    </div>
                    <!-- End .banner-content -->
                </div>
                <!-- End .banner -->
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="banner">
                    <a href="#">
                        <img src="assets/images/banners/3cols/banner-3.jpg" alt="Banner">
                    </a>

                    <div class="banner-content">
                        <h4 class="banner-subtitle">Hair Fall, Acne, Split Ends, Premature Greying and Eczema, psoriasis</h4>
                        <!-- End .banner-subtitle -->
                        <h3 class="banner-title text-white">Hair & Skin</h3>
                        <!-- End .banner-title -->
                        <a href="#" class="banner-link">Click here</a>
                    </div>
                    <!-- End .banner-content -->
                </div>
                <!-- End .banner -->
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="banner">
                    <a href="#">
                        <img src="assets/images/blog/4cols/post-2.jpg" alt="Banner">
                    </a>

                    <div class="banner-content">
                        <h4 class="banner-subtitle">Gastritis, Indigestion, Bloating</h4>
                        <!-- End .banner-subtitle -->
                        <h3 class="banner-title">Digestive Health</h3>
                        <!-- End .banner-title -->
                        <a href="#" class="banner-link">Click here</a>
                    </div>
                    <!-- End .banner-content -->
                </div>
                <!-- End .banner -->
            </div>
            <!-- End .col-md-6 -->
        </div>
    </div>

    <div class="mb-3"></div>

    <div class="container-fluid">
        <div class="heading">
            <h3 class="heading-title text-center">Recent Arrivals</h3>
        </div>
        <div class="tab-content tab-content-carousel">
            <div class="tab-pane p-0 fade show active" id="products-featured-tab" role="tabpanel" aria-labelledby="products-featured-link">
                <div class="container">
                    <owl-carousel-o [options]="customOptionsProducts" class="owl-simple carousel-equal-height carousel-with-shadow text-center">
                        <ng-container>
                            <ng-template carouselSlide *ngFor="let product of products">
                                <app-product [data]="product" [setClass]="setClass" [imagesrc]="product.imageSrc[0]" [changeImgSrc]='changeImgSrc' layout='grid2'></app-product>
                                <!-- End .product -->
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                    <!-- End .product -->
                </div>
            </div>
            <!-- End .owl-carousel -->
        </div>
        <!-- End .tab-content -->
    </div>
    <!-- End .container-fluid -->

    <div class="mb-5"></div>
    <!-- End .mb-5 -->
    <section class="featured-products">
        <div class="container">
            <div class="heading">
                <p class="heading-cat text-center">Featured Products </p>
                <h3 class="heading-title text-center">Featured Herbs & Ingredients</h3>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7 products">
                    <div class="col-6">
                        <div class="product product-10 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="https://avedaayur.com/wp-content/uploads/elementor/thumbs/Kachnar-pef5ezor3cp4wetgz2lrntej7w24vc98e0t1x3n6fw.png" alt="Product image" class="product-image">
                                    <img src="https://avedaayur.com/wp-content/uploads/elementor/thumbs/Kachnar-pef5ezor3cp4wetgz2lrntej7w24vc98e0t1x3n6fw.png" alt="Product image" class="product-image-hover">
                                </a>


                            </figure>

                            <div class="product-body">
                                <div class="product-action">
                                    <a href="#" class="btn-cart"><span>Read more</span></a>
                                </div>
                                <div class="product-intro">
                                    <h3 class="product-title">
                                        <a href="product.html">Kachnar</a>
                                    </h3>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="product product-10 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="https://avedaayur.com/wp-content/uploads/elementor/thumbs/jaiphal-pef5f0mla6qf80s3tl0e8b5zt9xi31cyq5gjedls9o.jpg" alt="Product image" class="product-image">
                                    <img src="https://avedaayur.com/wp-content/uploads/elementor/thumbs/jaiphal-pef5f0mla6qf80s3tl0e8b5zt9xi31cyq5gjedls9o.jpg" alt="Product image" class="product-image-hover">
                                </a>
                            </figure>
                            <div class="product-body">
                                <div class="product-action">
                                    <a href="#" class="btn-cart"><span>Read more </span></a>
                                </div>
                                <div class="product-intro">
                                    <h3 class="product-title">
                                        <a href="product.html">Jaiphal</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="product product-10 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="https://avedaayur.com/wp-content/uploads/elementor/thumbs/giloy-wiki-herbs-pef5f0mla6qf80s3tl0e8b5zt9xi31cyq5gjedls9o.png" alt="Product image" class="product-image">
                                    <img src="https://avedaayur.com/wp-content/uploads/elementor/thumbs/giloy-wiki-herbs-pef5f0mla6qf80s3tl0e8b5zt9xi31cyq5gjedls9o.png" alt="Product image" class="product-image-hover">
                                </a>
                            </figure>
                            <div class="product-body">
                                <div class="product-action">
                                    <a href="#" class="btn-cart"><span>Read more</span></a>
                                </div>
                                <div class="product-intro">
                                    <h3 class="product-title">
                                        <a href="product.html">Giloy</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="product product-10 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="https://avedaayur.com/wp-content/uploads/elementor/thumbs/ashoka-herb-wiki-pef5f0mla6qf80s3tl0e8b5zt9xi31cyq5gjedls9o.png" alt="Product image" class="product-image">
                                    <img src="https://avedaayur.com/wp-content/uploads/elementor/thumbs/ashoka-herb-wiki-pef5f0mla6qf80s3tl0e8b5zt9xi31cyq5gjedls9o.png" alt="Product image" class="product-image-hover">
                                </a>


                            </figure>

                            <div class="product-body">

                                <div class="product-action">
                                    <a href="#" class="btn-cart"><span>Read more</span></a>
                                </div>
                                <div class="product-intro">
                                    <h3 class="product-title">
                                        <a href="product.html">Ashoka</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more-container text-center mt-2">
                <a class="btn btn-outline-darker btn-more" routerLink>
                    <span>View more articles</span>
                    <i class="icon-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>

    <!-- ingredeints -->
    <!-- <div class="blog-posts">
        <div class="container">
            <h2 class="title text-center">Featured Herbs & Ingredients</h2>
            <owl-carousel-o [options]="customOptionsHerbs" class="">
                <ng-container>
                    <ng-template carouselSlide>
                        <article class="entry entry-display">
                            <figure class="entry-media">
                                <a>
                                    <img src="assets/images/herbs/herb-1.png" alt="image desc">
                                </a>
                            </figure>

                            <div class="entry-body text-center">


                                <h3 class="entry-title">
                                    <a>Sed adipiscing ornare.</a>
                                </h3>

                                <div class="entry-content">
                                    <a class="read-more">Continue Reading</a>
                                </div>
                            </div>
                        </article>
                    </ng-template>
                    <ng-template carouselSlide>
                        <article class="entry entry-display">
                            <figure class="entry-media">
                                <a>
                                    <img src="assets/images/herbs/herb-2.jpg" alt="image desc">
                                </a>
                            </figure>
                            <div class="entry-body text-center">
                                <h3 class="entry-title">
                                    <a>Sed adipiscing ornare.</a>
                                </h3>
                                <div class="entry-content">
                                    <a class="read-more">Continue Reading</a>
                                </div>
                            </div>
                        </article>
                    </ng-template>
                    <ng-template carouselSlide>
                        <article class="entry entry-display">
                            <figure class="entry-media">
                                <a>
                                    <img src="assets/images/herbs/herb-3.png" alt="image desc">
                                </a>
                            </figure>
                            <div class="entry-body text-center">
                                <h3 class="entry-title">
                                    <a>Sed adipiscing ornare.</a>
                                </h3>
                                <div class="entry-content">
                                    <a class="read-more">Continue Reading</a>
                                </div>
                            </div>
                        </article>
                    </ng-template>
                    <ng-template carouselSlide>
                        <article class="entry entry-display">
                            <figure class="entry-media">
                                <a>
                                    <img src="assets/images/herbs/herb-4.jpg" alt="image desc">
                                </a>
                            </figure>
                            <div class="entry-body text-center">
                                <h3 class="entry-title">
                                    <a>Sed adipiscing ornare.</a>
                                </h3>
                                <div class="entry-content">
                                    <a class="read-more">Continue Reading</a>
                                </div>
                            </div>
                        </article>
                    </ng-template>
                    <ng-template carouselSlide>
                        <article class="entry entry-display">
                            <figure class="entry-media">
                                <a>
                                    <img src="assets/images/herbs/herb-5.png" alt="image desc">
                                </a>
                            </figure>
                            <div class="entry-body text-center">
                                <h3 class="entry-title">
                                    <a>Fusce lacinia arcuet nulla.</a>
                                </h3>
                                <div class="entry-content">
                                    <a class="read-more">Continue Reading</a>
                                </div>
                            </div>
                        </article>
                    </ng-template>
                    <ng-template carouselSlide>
                        <article class="entry entry-display">
                            <figure class="entry-media">
                                <a>
                                    <img src="assets/images/herbs/herb-6.png" alt="image desc">
                                </a>
                            </figure>
                            <div class="entry-body text-center">
                                <h3 class="entry-title">
                                    <a>Quisque volutpat mattis eros.</a>
                                </h3>
                                <div class="entry-content">
                                    <a class="read-more">Continue Reading</a>
                                </div>
                            </div>
                        </article>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
            <div class="more-container text-center mt-2">
                <a class="btn btn-outline-darker btn-more"><span>More Herbs & Wiki</span><i
            class="icon-long-arrow-right"></i></a>
            </div>
        </div>
    </div> -->

    <div class="mb-6"></div>

    <div class="blog-posts">
        <div class="container">
            <div class="heading">
                <h3 class="heading-title text-center">From Our Blog</h3>
            </div>
            <owl-carousel-o [options]="customOptionsArticle" class="">
                <ng-container>
                    <ng-template carouselSlide>
                        <article class="entry entry-display">
                            <figure class="entry-media">
                                <a>
                                    <img src="assets/images/blog/blog-1.jpeg" alt="image desc">
                                </a>
                            </figure>
                            <!-- End .entry-media -->

                            <div class="entry-body text-center">

                                <!-- End .entry-meta -->

                                <h3 class="entry-title">
                                    <a>Health Benefits of Moringa Oleifera (drum stick), Overview, Uses and Side effect</a>
                                </h3>
                                <!-- End .entry-title -->

                                <div class="entry-content">
                                    <a class="read-more">Continue Reading</a>
                                </div>
                                <!-- End .entry-content -->
                            </div>
                            <!-- End .entry-body -->
                        </article>
                    </ng-template>
                    <ng-template carouselSlide>
                        <article class="entry entry-display">
                            <figure class="entry-media">
                                <a>
                                    <img src="assets/images/blog/blog-2.jpg" alt="image desc">
                                </a>
                            </figure>
                            <!-- End .entry-media -->

                            <div class="entry-body text-center">

                                <!-- End .entry-meta -->

                                <h3 class="entry-title">
                                    <a>Ayurvedic Treatment for Stress and Anxiety.</a>
                                </h3>
                                <!-- End .entry-title -->

                                <div class="entry-content">
                                    <a class="read-more">Continue Reading</a>
                                </div>
                                <!-- End .entry-content -->
                            </div>
                            <!-- End .entry-body -->
                        </article>
                    </ng-template>
                    <ng-template carouselSlide>
                        <article class="entry entry-display">
                            <figure class="entry-media">
                                <a>
                                    <img src="assets/images/blog/blog-3.jpg" alt="image desc">
                                </a>
                            </figure>
                            <!-- End .entry-media -->

                            <div class="entry-body text-center">

                                <!-- End .entry-meta -->

                                <h3 class="entry-title">
                                    <a>Ayurvedic Treatment for Joint Pain</a>
                                </h3>
                                <!-- End .entry-title -->

                                <div class="entry-content">
                                    <a class="read-more">Continue Reading</a>
                                </div>
                                <!-- End .entry-content -->
                            </div>
                            <!-- End .entry-body -->
                        </article>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>


            <!-- End .owl-carousel -->

            <div class="more-container text-center mt-2">
                <a class="btn btn-outline-darker btn-more" routerLink><span>View more articles</span><i
            class="icon-long-arrow-right"></i></a>
            </div>
            <!-- End .more-container -->
        </div>
        <!-- End .container -->
    </div>
    <div class="container" style="margin-top:2rem">
        <div class="heading heading-center mb-3">
            <h2 class="title">Our Presence</h2>
            <owl-carousel-o [options]="customOptionsPresence" class="brands-border">
                <ng-container>
                    <ng-template carouselSlide>
                        <a class="brand">
                            <img src="assets/images/presence/Amazon-Logo.jpg" alt="Brand Name">
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="brand">
                            <img src="assets/images/presence/flipkart.png" alt="Brand Name">
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="brand">
                            <img src="assets/images/presence/healthmug.png" alt="Brand Name">
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="brand">
                            <img src="assets/images/presence/myupchar.png" alt="Brand Name">
                        </a>
                    </ng-template>
                    <ng-template carouselSlide>
                        <a class="brand">
                            <img src="assets/images/presence/TATA.png" alt="Brand Name">
                        </a>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
    <!-- End .blog-posts -->
</main>