.icon-box-title {
    color: black;
}

.footer-middle .container::before {
    content: '';
    position: absolute;
    top: -6.7rem;
    left: 1rem;
    right: 1rem;
    height: 0.1rem;
    background-color: transparent;
}