<header class="header header-2 header-intro-clearance">

    <div class="header-top" style="background-color:transparent;">
        <div class="container">
            <!-- End .header-left -->
            <div class="header-right">
                <ul class="top-menu">
                    <li>
                        <a>Links</a>
                        <ul>
                            <li class="header-dropdown"><a href="#signin-modal" data-toggle="modal">Sign in / Sign up</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- End .top-menu -->
            </div>
            <!-- End .header-right -->

        </div>
        <!-- End .container -->
    </div>
    <!-- End .header-top -->

    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                <a class="logo">
                    <img style="background-color: #c96;" src="assets/images/aveda-logo.png" alt="Molla Logo" width="105" height="25">
                </a>
            </div>
            <!-- End .header-left -->

            <div class="header-center">
                <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                    <a class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                        </div>
                        <!-- End .header-search-wrapper -->
                    </form>
                </div>
                <!-- End .header-search -->
            </div>

            <div class="header-right">
                <div class="account">
                    <a title="My account">
                        <div class="icon">
                            <i class="icon-user"></i>
                        </div>
                        <p>Account</p>
                    </a>
                </div>
                <!-- End .compare-dropdown -->

                <div class="wishlist">
                    <a title="Wishlist">
                        <div class="icon">
                            <i class="icon-heart-o"></i>
                            <span class="wishlist-count badge">3</span>
                        </div>
                        <p>Wishlist</p>
                    </a>
                </div>
                <!-- End .compare-dropdown -->

                <div class="dropdown cart-dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <div class="icon">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count">{{cartArray?.length }}</span>
                        </div>
                        <p>Cart</p>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="text-center" *ngIf="cartArray.length<=0">
                            <div class="container">
                                <h3 class="page-title" style="color: red;">No items in Cart</h3>

                            </div>
                        </div>
                        <div class="dropdown-cart-products" *ngIf="cartArray.length>0">

                            <!-- End .product -->

                            <div class="product" *ngFor="let cartItem of cartArray?.slice(0,3); let i=index">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a>{{cartItem.subCategory}}</a>
                                    </h4>

                                    <div class="cart-product-info" style="display: block;">
                                        <span class="cart-product-qty">{{cartItem.quantity}} x <span style="font-family: monospace; margin-right: 1px;">₹</span>{{cartItem.price}}</span>
                                    </div>
                                </div>
                                <!-- End .product-cart-details -->

                                <figure class="product-image-container">
                                    <a class="product-image">
                                        <img [src]="cartItem.imageSrc[0]" alt="product">
                                    </a>
                                </figure>
                                <a class="btn-remove" title="Remove Product" (click)="onDeleteItemFromCart(cartItem, i)"><i class="icon-close"></i></a>
                            </div>
                            <a *ngIf="!moreCart && cartArray?.length>3" (click)="viewMoreCart()">View More</a>


                            <div *ngIf="moreCart">
                                <div class="product" *ngFor="let cartItem of cartArray?.slice(3); let i=index">
                                    <div class="product-cart-details">
                                        <h4 class="product-title">
                                            <a>{{cartItem.subCategory}}</a>
                                        </h4>

                                        <span class="cart-product-info">
                                                <span class="cart-product-qty">{{cartItem.quantity}}</span> <span class="currency">₹</span> {{ cartItem.price }} </span>
                                    </div>
                                    <!-- End .product-cart-details -->

                                    <figure class="product-image-container">
                                        <a class="product-image">
                                            <img [src]="cartItem.imageSrc[0]" alt="product">
                                        </a>
                                    </figure>
                                    <a class="btn-remove" title="Remove Product" (click)="onDeleteItemFromCart(cartItem, i)"><i class="icon-close"></i></a>
                                </div>
                            </div>
                            <a *ngIf="moreCart" (click)="viewLessCart()">View Less</a>

                            <!-- End .product -->
                        </div>
                        <!-- End .cart-product -->

                        <div class="dropdown-cart-total" *ngIf="cartArray.length>0">
                            <span>Total</span>

                            <span class="cart-total-price"><span class="currency">₹</span>{{subTotal()}}</span>
                        </div>
                        <!-- End .dropdown-cart-total -->

                        <div class="dropdown-cart-action" *ngIf="cartArray.length<=0">
                            <a class="btn btn-primary-2" routerLink="cart">View Cart</a>
                        </div>
                        <div class="dropdown-cart-action" *ngIf="cartArray.length>0">
                            <a class="btn btn-primary" routerLink="cart">View Cart</a>
                            <a class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                        </div>
                        <!-- End .dropdown-cart-total -->
                    </div>
                    <!-- End .dropdown-menu -->
                </div>
                <!-- End .cart-dropdown -->
            </div>
            <!-- End .header-right -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .header-middle -->

    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                <div class="dropdown category-dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                            Browse Categories
                        </a>

                    <div class="dropdown-menu">
                        <nav class="side-nav">
                            <ul class="menu-vertical sf-arrows">
                                <li class="item-lead"><a>Daily offers</a></li>
                                <li class="item-lead"><a>Gift Ideas</a></li>
                                <li><a>Beds</a></li>
                                <li><a>Lighting</a></li>
                                <li><a>Sofas & Sleeper sofas</a></li>
                                <li><a>Storage</a></li>
                                <li><a>Armchairs & Chaises</a></li>
                                <li><a>Decoration </a></li>
                                <li><a>Kitchen Cabinets</a></li>
                                <li><a>Coffee & Tables</a></li>
                                <li><a>Outdoor Furniture </a></li>
                            </ul>
                            <!-- End .menu-vertical -->
                        </nav>
                        <!-- End .side-nav -->
                    </div>
                    <!-- End .dropdown-menu -->
                </div>
                <!-- End .category-dropdown -->
            </div>
            <!-- End .header-left -->

            <div class="header-center">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container ">
                            <a routerLink='home'>Home</a>
                            <!-- End .megamenu -->
                        </li>
                        <li>
                            <a class="sf-with-ul" routerLink='products-row'>Store</a>

                            <div class="megamenu megamenu-md">
                                <div class="row no-gutters">
                                    <div class="col-md-8">
                                        <div class="menu-col">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="menu-title">Shop with sidebar</div>
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a routerLink="products-row">Shop List</a></li>
                                                        <li><a routerLink="">Shop Grid 2 Columns</a></li>
                                                        <li><a routerLink="">Shop Grid 3 Columns</a></li>
                                                        <li><a routerLink="">Shop Grid 4 Columns</a></li>
                                                    </ul>

                                                    <div class="menu-title">Shop no sidebar</div>
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a routerLink=""><span>Shop Boxed No Sidebar<span class="tip tip-hot">Hot</span></span></a></li>
                                                        <li><a routerLink="">Shop Fullwidth No Sidebar</a></li>
                                                    </ul>
                                                </div>
                                                <!-- End .col-md-6 -->

                                                <div class="col-md-6">
                                                    <div class="menu-title">Product Category</div>
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a>Product Category Boxed</a></li>
                                                        <li><a><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                                                    </ul>
                                                    <div class="menu-title">Shop Pages</div>
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a>Cart</a></li>
                                                        <li><a>My Account</a></li>
                                                        <li><a>Lookbook</a></li>
                                                    </ul>
                                                </div>
                                                <!-- End .col-md-6 -->
                                            </div>
                                            <!-- End .row -->
                                        </div>
                                        <!-- End .menu-col -->
                                    </div>
                                    <!-- End .col-md-8 -->

                                    <div class="col-md-4">
                                        <div class="banner banner-overlay">
                                            <a class="banner banner-menu">
                                                <img src="assets/images/menu/banner-1.jpg" alt="Banner">

                                                <div class="banner-content banner-content-top">
                                                    <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div>
                                                    <!-- End .banner-title -->
                                                </div>
                                                <!-- End .banner-content -->
                                            </a>
                                        </div>
                                        <!-- End .banner banner-overlay -->
                                    </div>
                                    <!-- End .col-md-4 -->
                                </div>
                                <!-- End .row -->
                            </div>
                            <!-- End .megamenu megamenu-md -->
                        </li>
                        <li>
                            <a class="sf-with-ul" routerLink=''>Consultation</a>

                            <div class="megamenu megamenu-sm">
                                <div class="row no-gutters">
                                    <div class="col-md-6">
                                        <div class="menu-col">
                                            <div class="menu-title">Product Details</div>
                                            <!-- End .menu-title -->
                                            <ul>
                                                <li><a>Default</a></li>
                                                <li><a>Centered</a></li>

                                            </ul>
                                        </div>
                                        <!-- End .menu-col -->
                                    </div>
                                    <!-- End .col-md-6 -->

                                    <div class="col-md-6">
                                        <div class="banner banner-overlay">
                                            <a>
                                                <img src="assets/images/menu/banner-2.jpg" alt="Banner">

                                                <div class="banner-content banner-content-bottom">
                                                    <div class="banner-title text-white">New Trends<br><span><strong>spring 2019</strong></span></div>
                                                    <!-- End .banner-title -->
                                                </div>
                                                <!-- End .banner-content -->
                                            </a>
                                        </div>
                                        <!-- End .banner -->
                                    </div>
                                    <!-- End .col-md-6 -->
                                </div>
                                <!-- End .row -->
                            </div>
                            <!-- End .megamenu megamenu-sm -->
                        </li>
                        <li>
                            <a class="sf-with-ul" routerLink=''>Businessoppurtunity</a>

                            <ul>
                                <li>
                                    <a class="sf-with-ul">About</a>

                                    <ul>
                                        <li><a>About 01</a></li>
                                        <li><a>About 02</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="sf-with-ul">Contact</a>

                                    <ul>
                                        <li><a>Contact 01</a></li>
                                        <li><a>Contact 02</a></li>
                                    </ul>
                                </li>
                                <li><a>Login</a></li>
                                <li><a>FAQs</a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="sf-with-ul" routerLink=''>Resource</a>

                            <ul>
                                <li><a>Classic</a></li>
                                <li><a>Listing</a></li>
                                <li>
                                    <a>Grid</a>
                                    <ul>
                                        <li><a>Grid 2 columns</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a>Masonry</a>
                                    <ul>
                                        <li><a>Masonry 2 columns</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a>Mask</a>
                                    <ul>
                                        <li><a>Blog mask grid</a></li>
                                        <li><a>Blog mask masonry</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a>Single Post</a>
                                    <ul>
                                        <li><a>Default with sidebar</a></li>
                                        <li><a>Fullwidth no sidebar</a></li>
                                        <li><a>Fullwidth with sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="sf-with-ul" routerLink=''>Contact</a>

                            <ul>
                                <li><a>Products</a></li>

                            </ul>
                        </li>
                    </ul>
                    <!-- End .menu -->
                </nav>
                <!-- End .main-nav -->
            </div>
            <!-- End .header-center -->

            <div class="header-right">
                <!-- <i class="la la-lightbulb-o"></i> -->
                <!-- <p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p> -->
            </div>
        </div>
        <!-- End .container -->
    </div>
    <!-- End .header-bottom -->
</header>